{% load static %}
<script src="{% static 'assets/web/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/web/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/web/js/easing.js' %}"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>