{% extends "admin/change_form.html" %}
{% load static %}

<!DOCTYPE HTML>
<html>

<head>

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/assets/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
	<title>{{ user.username }}</title>
	<!-- Custom Theme files -->
	{% include '../partials/_style.html' %}
	{% include '../partials/_header.html' %}
	{% include '../partials/_script.html' %}
</head>

<body>
	<!-- container -->
	<!-- header -->
	<div id="home" class="header">
		<div class="container">
			<!-- top-hedader -->
			<div class="top-header">
				<!-- /logo -->
				<!--top-nav---->
				<div class="top-nav">
					<div class="navigation">
						<div class="logo">
							<h1><a href="index.html"><span>W</span>elcome</a></h1>
						</div>
						<div class="navigation-right">
							<span class="menu"><img src="{% static 'assets/img/no_image.png' %}" alt=" " /></span>
							<nav class="link-effect-3" id="link-effect-3">
								<ul class="nav1 nav nav-wil">
									<li class="active"><a data-hover="Home" href="index.html">Home</a></li>
									<li><a class="scroll" data-hover="About" href="#about">About</a></li>
									<li><a class="scroll" data-hover="Services" href="#services">Services</a></li>
									<li><a class="scroll" data-hover="Experience" href="#work">Experience</a></li>
									<li><a class="scroll" data-hover="Portfolio" href="#port">Portfolio</a></li>
									<li><a class="scroll" data-hover="Blog" href="#blogs">Blog</a></li>
									<li><a class="scroll" data-hover="Contact" href="#contact">Contact</a></li>
								</ul>
							</nav>
							<!-- script-for-menu -->
							<script>
								$("span.menu").click(function () {
									$("ul.nav1").slideToggle(300, function () {
										// Animation complete.
									});
								});
							</script>
							<!-- /script-for-menu -->
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- /top-hedader -->
				</div>
				<div class="banner-info">
					<div class="col-md-7 header-right">
						<h1>Hi, This is  HSN !</h1>
						<h6> {{ user.position }} </h6>
						<ul class="address">
							
							<li>
								<ul class="address-text">
									<li><b>E-MAIL </b></li>
									<li><a href="bakender.py@mail.com"> {{ user.email }}</a></li>
								</ul>
							</li>
							<li>
								<ul class="address-text">
									<li><b>PHONE </b></li>
									<li>{{ user.mobile }}</li>
								</ul>
							</li>
							<li>
								<ul class="address-text">
									<li><b>GITHUB </b></li>
									<li><a href="{{ user.github }}">my github</a></li>
								</ul>
							</li>
							<li>
								<ul class="address-text">
									<li><b>INSTAGRAM </b></li>
									<li><a href="{{ user.instagram }}">my instagram</a></li>
								</ul>
							</li>
							<li>
								<ul class="address-text">
									<li><b>LINKDIN </b></li>
									<li><a href="{{ user.linkdin }}">my linkdin</a></li>
								</ul>
							</li>
							
							<li>
								<ul class="address-text">
									<li><b>ADDRESS </b></li>
									<li>{{ user.address }}</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="col-md-5 header-left">
						<img src="{% static 'assets/img/no_image.png' %}" alt="">
					</div>
					<div class="clearfix"> </div>

				</div>
			</div>
		</div>
	</div>
{% include 'shared/about-view.html' %}
{% include 'shared/myservice.html' %}
{% include 'shared/experince.html' %}
{% include 'shared/myport.html' %}
{% include 'shared/blog.html' %}
{% include 'shared/contact.html' %}
	<!-- //footer -->
	<!-- /container -->
	<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-content port-modal">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="modal-body">
							<h3>Image-Title</h3>
							<img src="{% static 'assets/img/no_image.png' %}" class="img-responsive img-centered"
								alt="">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-content port-modal">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="modal-body">
							<h3>Image-Title</h3>
							<img src="{% static 'assets/img/no_image.png' %}" class="img-responsive img-centered"
								alt="">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-content port-modal">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="modal-body">
							<h3>Image-Title</h3>
							<img src="{% static 'assets/img/no_image.png' %}" class="img-responsive img-centered"
								alt="">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-content port-modal">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="modal-body">
							<h3>Image-Title</h3>
							<img src="{% static 'assets/img/no_image.png' %}" class="img-responsive img-centered"
								alt="">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-content port-modal">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="modal-body">
							<h3>Image-Title</h3>
							<img src="{% static 'assets/img/no_image.png' %}" class="img-responsive img-centered"
								alt="">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-content port-modal">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="modal-body">
							<h3>Image-Title</h3>
							<img src="{% static 'assets/img/no_image.png' %}" class="img-responsive img-centered"
								alt="">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade slideanim" id="portfolioModal7" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-content port-modal">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="modal-body">
							<h3>Image-Title</h3>
							<img src="{% static 'assets/img/no_image.png' %}" class="img-responsive img-centered"
								alt="">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade slideanim" id="portfolioModal8" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-content port-modal">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="modal-body">
							<h3>Image-Title</h3>
							<img src="{% static 'assets/img/no_image.png' %}" class="img-responsive img-centered"
								alt="">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade slideanim" id="portfolioModal9" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-content port-modal">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="modal-body">
							<img src="{% static 'assets/img/no_image.png' %}" class="img-responsive img-centered"
								alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	{% include 'partials/_foojs.html' %}


</body>

</html>