	{% load static %}
    <!-- top-grids -->
	<div class="blog" id="blogs">
		<div class="container">
			<div class="service-head text-center">
				<h4>BLOGS</h4>
				<h3>MY <span>BLOGS</span></h3>
				<span class="border one"></span>
			</div>
			<div class="news-grid w3l-agile">
				<div class="col-md-6 news-img">
					<a href="#" data-toggle="modal" data-target="#myModal1"> <img
							src="{% static 'assets/img/no_image.png' %}" alt=" " class="img-responsive"></a>

				</div>
				<div class="col-md-6 news-text">
					<h3> <a href="#" data-toggle="modal" data-target="#myModal1">HERE GOES AN AWESOME BLOG TITLE</a>
					</h3>
					<ul class="news">
						<li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
						<li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
						<li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
						<li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
					</ul>
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
						consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est, qui dolorem
						ipsum quia dolor sit amet.</p>
					<a href="#" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Read
						More</a>

				</div>

				<div class="clearfix"></div>
			</div>
			<div class="news-grid">

				<div class="col-md-6 news-text two">
					<h3> <a href="#" data-toggle="modal" data-target="#myModal1">HERE GOES AN AWESOME BLOG TITLE</a>
					</h3>
					<ul class="news">
						<li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
						<li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
						<li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
						<li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
					</ul>
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
						consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est, qui dolorem
						ipsum quia dolor sit amet.</p>
					<a href="#" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Read
						More</a>

				</div>
				<div class="col-md-6 news-img two">
					<a href="#" data-toggle="modal" data-target="#myModal1"> <img
							src="{% static 'assets/img/no_image.png' %}" alt=" " class="img-responsive"></a>

				</div>
				<div class="clearfix"></div>
			</div>
			<div class="news-grid">
				<div class="col-md-6 news-img">
					<a href="#" data-toggle="modal" data-target="#myModal1"> <img
							src="{% static 'assets/img/no_image.png' %}" alt=" " class="img-responsive"></a>

				</div>
				<div class="col-md-6 news-text">
					<h3> <a href="#" data-toggle="modal" data-target="#myModal1">HERE GOES AN AWESOME BLOG TITLE</a>
					</h3>
					<ul class="news">
						<li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
						<li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
						<li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
						<li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
					</ul>
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
						consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est, qui dolorem
						ipsum quia dolor sit amet.</p>
					<a href="#" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Read
						More</a>

				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- top-grids -->
	<!-- /blog-pop-->
	<div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog about" role="document">
			<div class="modal-content about">
				<div class="modal-header">
					<button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body about">
					<div class="about">

						<div class="about-inner">

							<img src="{% static 'assets/img/no_image.png' %}" alt="about" />
							<h4 class="tittle">A Fews words about us</h4>
							<p>Lorem ipsum dolor sit amet Integer gravida,Lorem ipsum dolor sit amet Integer gravida
								velit,Ming sits in the corner the whole day. She's into crochet. quis dolor
								tristiqumsan.Mirum est notare quam littera gothica, quam nunc putamus parum claram,
								anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
								velit quis dolor tristiqumsan.</p>
							<p>Lorem ipsum dolor sit amet. Integer gravida velit quis dolor tristiqumsan.anteposuerit
								litterarum formas humanitatis per seacula amet Integer gravida velit. </p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //blog-pop-->