{% load static %}
<!-- top-grids -->
<div class="blog" id="blogs">
    <div class="container">
        <div class="service-head text-center">
            <h4>BLOGS</h4>
            <h3>MY <span>BLOGS</span></h3>
            <span class="border one"></span>
        </div>
        {% for i in blog %}
        <div class="news-grid w3l-agile">
            <div class="col-md-6 news-img">
                <img src="{% if i.banner %}{{ i.banner.url }}{% else %}{% static 'assets/img/no_image.png' %}{% endif %}"
                     alt="{{ i.title }}" class="img-responsive">
            </div>
            <div class="col-md-6 news-text">
                <h3><a href="#" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">{{ i.title }}</a></h3>
                <ul class="news">
                    <li><i class="glyphicon glyphicon-user"></i> <a href="#">{{ i.author }}</a></li>
                    <!-- <li><i class="glyphicon glyphicon-heart"></i> <a href="#">{{ i.likes }} Likes</a></li> -->
                    <li><i class="glyphicon glyphicon-eye-open"></i> <a href="#">{{ i.viewers }} viewers</a></li>
                    <li><i class="glyphicon glyphicon-tags"></i>
                        {% if i.tags %}
                            <span>
                                {% for tag in i.tags.all %}
                                    <a href="#">{{ tag }}{% if not forloop.last %}, {% endif %}</a>
                                {% endfor %}
                            </span>
                        {% else %}
                            No tags available
                        {% endif %}
                    </li>
                </ul>
                <p>{{ i.content }}</p>
                <a href="#" data-toggle="modal" data-target="#myModal{{ forloop.counter }}"
                   class="read hvr-shutter-in-horizontal">Read More</a>
            </div>

            <!-- Modal for each blog post -->
            <div class="modal ab fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog about" role="document">
                    <div class="modal-content about">
                        <div class="modal-header">
                            <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body about">
                            <div class="about">
                                <div class="about-inner">
                                    <img src="{% if i.banner %}{{ i.banner.url }}{% else %}{% static 'assets/img/no_image.png' %}{% endif %}"
                                         alt="{{ i.title }}" />
                                    <h4 class="tittle">{{ i.title }}</h4>
                                    <p>{{ i.content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- top-grids -->
<!-- /blog-pop-->
<!-- //blog-pop -->
