{% load static %}
<!-- services -->
<div id="services" class="services">
    <div class="container">
        <div class="service-head one text-center ">
            <h4>WHAT I DO</h4>
            <h3>MY <span>SERVICES</span></h3>
            <span class="border two"></span>
        </div>
        <!-- services-grids -->
        <div class="wthree_about_right_grids w3l-agile">
            {% for i in myservices %}
            <div class="col-md-6 wthree_about_right_grid">
                <div class="col-xs-4 wthree_about_right_grid_left">
                    <div class="hvr-rectangle-in">
                        <i class="{{ i.icon }}"></i>
                    </div>
                </div>
                <div class="col-xs-8 wthree_about_right_grid_right">
                    <h4>{{ i.title}}</h4>
                    <p>{{ i.contact }}</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            {% endfor %}
        
            <div class="clearfix"> </div>
        </div>

        <!-- services-grids -->
    </div>
</div>
<!-- services -->